*{
    margin: 0;
    border: 0;
    padding: 0;
}


.centrado {
    text-align: center; /* Centra el texto horizontalmente */
}

body{ /*background-color: #e5f8f9;*/
    background-image: url("it.webp");
     color: #f0f0f0;
     margin: 50px; /* Margen fuera del borde, separa el párrafo de otros elementos */
    padding: 30px; /* Relleno dentro del borde, crea espacio entre el borde y el contenido */
    border: 8px solid #002f4b49; /* Borde de 5px con color azul */
    }
span{ color: #ffb005;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(248, 248, 248, 0.3);
    }
    p {
        font-size: 19px
    }
p.justificado{
        text-align: justify;
        max-width: 800px; /* Ajusta el ancho del texto */
        margin: 0 auto; /* Centra el párrafo en la página */
        line-height: 1.6; /* Espaciado entre líneas para mejorar la lectura */
    }

 .imagen-centrada {
        display: block; /* Convierte la imagen en un bloque para poder aplicar margin */
        margin: auto; /* Centra la imagen horizontalmente */
        max-width: 100%; /* Evita que la imagen sea más grande que su contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
        border-radius: 830px;
        padding: 30px;
    }

    .centrar-contenedor {
        text-align: center; /* Centra el texto dentro del div */
    }
    
    .enlace {
        text-decoration: none; /* Opcional, para quitar el subrayado del enlace */
        color: #007bff; /* Opcional, cambia el color del enlace */
    }
    
    a{ background-color: #f6f6f6;
    border: 3px solid #22D4FD;
    padding: 4px;
    font-weight: 700;
}
